# Ignore (files stored at) a given path
/results
/inputs
/build
/dist
*.egg-info

# Ignore files with a special ending (or content)
*__pycache__*
*.ipynb_checkpoints/*
*.idea
*start_jupyter*
*.aux
*.bcf
*.lof
*.out
*.run.xml
*.toc
*~
*.gurobi.*
*.pyomo.*
*.tmp
*.log
*.lp